<h1>Upload de arquivos</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br><br>
    <input type="submit" value="Enviar">
</form>

<!-- <img src="uploads/7fa24a71b12879960a0b3c2c1a25ff2f" alt="Imagem da galeria"> -->