<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>            
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <br>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br>
                    <label>Descrição</label>
                    <textarea placeholder="Descreva sua pergunta aqui." class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs') %>