<h1>Upload de arquivos</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file"><br><br>
    <input type="submit" value="Enviar">
</form>

<!-- <img src="uploads/1218a3b94ec7498bbacb2b0ec44c36bf" alt="Imagem da galeria"> -->
