<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <h3>Iniciando estudos com Node.js</h3>
    <p>Essa página está sendo renderizada com EJS no Express.</p>
</body>
</html>