<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao painel administrativo Nossa Loja!</strong></h1>
            <p class="lead">Através desse painel é possível listar as tabelas de clientes, produtos e pedidos.</p>
            <hr class="my-4">
            <p class="currentDate"></p>
            </p>         
            <p class="lead">
              <a class="btn btn-info btn-lg" href="/pedidos" role="button">Verificar pedidos</a>
            </p>
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>Para onde deseja ir?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/clientes">Clientes</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="/pedidos">Pedidos</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
