<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Clientes</h1>
        </div>
        <div class="card-body">
            <!-- Conteúdo aqui -->
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
