<%- include ('partials/header.ejs') %>

    <h1>Página de Vídeos</h1>
    <hr>
    <h3>Iniciando estudos com Node.js</h3>
    <p>Essa página está sendo renderizada com EJS no Express.</p>

<%- include ('partials/footer.ejs') %>