<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    Nossa Loja
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
    </ul>

    <span style="margin-left: auto;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <% if(typeof loggedOut === "undefined"){ %>
                    <a class="nav-link" href="/logout">Fazer logout</a>
                <% }else{ %>
                    <a class="nav-link" href="/login">Fazer login</a>
                <% } %>
            </li>
        </ul>
    </span>
</nav>
<br>
