<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="post">
                <label for="email">E-mail:</label>
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <label for="password">Senha:</label>
                <input class="form-control" name="password" type="password" placeholder="********"><br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>

        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>