<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    Nossa Loja
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>
    </ul>
</nav>
<br>